body{

}
.hero{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
text-align:center;
height:80vh;
}

.quote{
color:rgb(20, 3, 3);
font-style:italic;
font-weight:bolder;
margin:60px;
}

.button1{
margin-top:10px;
}

.button1 button{
padding:12px 25px;
border-radius:20px;
font-size:17px;

color:white;
border:none;
cursor:pointer;
}


.footer{
text-align:center;
margin-top:40px;
padding:15px;
font-size:13px;
color:white;
}