body{
margin:0;
font-family:Arial;
background-image:url("images/michal-parzuchowski-ItaV89TNkks-unsplash.jpg");
background-size:cover;
color:white;
text-align:center;
}

/* TITLE */
.title{
margin-top:20px;
font-size:32px;
}

/* GRID */
.menu-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
padding:20px;
}

/* CARD */
.menu-card{
background:rgba(255,255,255,0.9);
color:black;
border-radius:12px;
padding:15px;
box-shadow:0 5px 20px rgba(0,0,0,0.3);
}

/* IMAGE */
.menu-card img{
width:100%;
height:130px;
object-fit:cover;
border-radius:10px;
}

/* BUTTON */
.menu-card button{
margin-top:10px;
padding:10px;
background:#4b2e2b;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

.menu-card button:hover{
background:#c99d61;
color:black;
}

/* CART LINK */
.cart-link{
display:inline-block;
margin:20px;
padding:10px 20px;
background:#c99d61;
color:black;
border-radius:8px;
text-decoration:none;
}