body{
margin:0;
padding:0;
font-family:Arial, sans-serif;
background:#c99d61;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-container{
background:white;
padding:40px;
width:360px;
border-radius:12px;
box-shadow:0 8px 25px rgba(0,0,0,0.2);
text-align:center;
}

.login-container h2{
margin-bottom:25px;
}

.input-box{
    display: flex;
position:relative;
margin-bottom:18px;
gap:5px;

}

.input-box i{
position:absolute;
left:5px;
top:50%;
transform:translateY(-50%);
color:#777;

}

.input-box input{
width:100%;
padding:10px 10px 10px 40px;
border-radius:6px;
border:1px solid #ccc;
font-size:14px;

}

button{
width:100%;
padding:12px;
background:#4b2e2b;
color:white;
border:none;
border-radius:6px;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#2f1c19;
}

.forgot{
text-decoration:none;
color:#4b2e2b;
font-size:14px;
}

.back-home{
text-decoration:none;
color:#4b2e2b;
font-size:14px;
}
input::placeholder{
color: gray;
font-size: 14px;
font-style: italic;
padding: 5px;
}