*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-weight: bold;

    
}
.gallery{
    width:100%;
    height:60vh;
    background-image:url("images/coffee-ai-generated.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}


h1{
    border-radius: 8px;
     width: 250px;
    padding: 30px;
    border: 2px solid white;
    color: white;
    font-size: 30px; 
    margin: auto;
    height:100px;
    font-style: italic;
}
.gallery2 ul{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    margin:30px;
    padding:70px;
    margin-top: 50px;
    background-color: rgb(196, 168, 127);
}
.gallery2 img{
    width:100%;
    height:auto;
    border-radius: 15px;
    
}
   
.gallery2 ul{
    margin: 0;
    
}
.gallery2 li img:hover {
    transform: scale(0.95) rotate(1deg);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.952);
    
}
